<form name="form" novalidate ng-submit="form.$valid &&  ctrl.doAuth('resetPasswordComplete',ctrl.resetPasswordComplete)">
  <fieldset>
    <legend>Choose new Password</legend>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             username-validation="4"
             required minlength="4"
             server-validation
             name="username"
             ng-model="ctrl.resetPasswordComplete.username"
             class="form-control"
             id="username"
             placeholder="Username">
      <div ng-messages="form.username.$error" role="alert">
        <div ng-messages-include="app/auth/validation-errors.html"></div>
        <div ng-message="server">{{form.username.$error.server}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" password-validation server-validation minlength="6" required name="password"
             ng-model="ctrl.resetPasswordComplete.password" class="form-control" id="password" placeholder="Password"
             aria-describedby="passwordHelpBlock">
      <div ng-messages="form.password.$error" role="alert">
        <div ng-messages-include="app/auth/validation-errors.html"></div>
        <div ng-message="server">{{form.password.$error.server}}</div>
      </div>
      <span id="passwordHelpBlock" class="help-block">Strong password should contain lowercase letters, uppercase letters, numbers,
         special characters and have minimal length of 6</span>
    </div>
    <div ng-include="'app/auth/recaptcha.html'"></div>
    <div ng-messages="form.$error" role="alert">
      <div ng-message="serverAll">{{form.$error.serverAll}}</div>
    </div>
    <div class="auth-footer">
      <button type="submit" class="btn btn-success">Reset Password</button>
      <span>or <a ui-sref="auth.login">log in</a></span>
    </div>
  </fieldset>
</form>
