<form name="form" novalidate ng-submit="form.$valid && ctrl.doAuth('resetPassword',ctrl.resetPassword)">
  <fieldset>
    <legend>Reset Password</legend>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"  server-validation required name="email" ng-model="ctrl.resetPassword.email" class="form-control" id="email" placeholder="Email">
      <div ng-messages="form.email.$error" role="alert">
        <div ng-messages-include="app/auth/validation-errors.html"></div>
        <div ng-message="server">{{form.email.$error.server}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"  username-validation="4" required minlength="4" server-validation name="username" ng-model="ctrl.resetPassword.username" class="form-control" id="username" placeholder="Username">
      <div ng-messages="form.username.$error" role="alert">
        <div ng-messages-include="app/auth/validation-errors.html"></div>
        <div ng-message="server">{{form.username.$error.server}}</div>
      </div>
    </div>
    <p class="text-muted">
      You will receive email with instructions
    </p>
    <div ng-include="'app/auth/recaptcha.html'"></div>
    <div ng-messages="form.$error" role="alert">
      <div ng-message="serverAll">{{form.$error.serverAll}}</div>
    </div>
    <div class="auth-footer">
      <button type="submit" class="btn btn-danger">Reset Password</button>
      <span>or <a ui-sref="auth.login">log in</a></span>
    </div>
  </fieldset>
</form>
